.app-header {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.app-header-logo {
  height: 90%;
  max-width: calc(100% - 32px);
}

.app-main-content {
  padding: 16px;
}


.message {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  font-size: 22;
}

button,
input {
  border: none;
  color: white;
  padding: 8px 32px;
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  background-color: #22a2bd;
  margin: 0 8px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

button[disabled] {
  background-color: gray;
  cursor: not-allowed;
}

button[disabled]:hover {
  box-shadow: 0 3px 6px #000;
}

button:hover {
  box-shadow: 0 3px 6px #65c24e;
}
